:focus {outline: 0!important;}
/*** filter ***/
.filter-bar {padding: 4px 0; background: #f6f6f6; display: inline-block; width: 100%; margin-bottom: 8px; font-family: "Josefin Sans",sans-serif;}
.filter-bar .form-group {margin-bottom: 0;}
.filter-bar .tooltip-inner {min-width:85px; }
.filter-bar .mt4 {margin-top: 4px;}

/*** Grid ***/
.ag-bootstrap {font-family: "Josefin Sans",sans-serif!important; text-align: left;}
.ag-bootstrap .ag-body {background-color: #fff!important;}
.ag-bootstrap .ag-cell-label-container {display: flex; height: 100%;}
.ag-bootstrap .ag-header-cell-label {padding: 2px 2px!important; display: flex; color: ##5477a0;}
.ag-bootstrap .ag-header-cell-text {font-weight: 700; color: #72abb7; margin: auto;}
.ag-bootstrap .ag-header {border-bottom: 2px solid #ddd!important;}
.ag-bootstrap .ag-header-cell {text-align: left!important;}
.ag-bootstrap .ag-row {border-bottom: 1px solid #ddd!important;}
.gridClickable .ag-bootstrap .ag-row {cursor: pointer;}
.ag-bootstrap .ag-row.ag-row-hover {background-color: rgba(166, 203, 208, 0.44)!important;}
.ag-bootstrap .ag-cell-not-inline-editing i{font-size: 25px; text-align: center; color: #8590a7; margin: auto 0;}
.ag-bootstrap .ag-cell-not-inline-editing i.fa-ban {color: #e2475e;}
.ag-bootstrap .ag-cell .btn {border-radius: 10px;}
.ag-bootstrap .ag-cell .btn-default {background-color: #8590a7; color: #FFF; border-color: #8590a7;}
.ag-bootstrap .ag-cell .btn-default:hover, .ag-bootstrap .ag-cell .btn-default:focus, .ag-bootstrap .ag-cell .btn-default:active {background-color: #505b70; border-color: #505b70; }
.ag-bootstrap .ag-cell .btn-danger {background-color: #e06364; border-color: #e06364;}
.ag-bootstrap .ag-cell .btn-danger:hover, .ag-bootstrap .ag-cell .btn-danger:focus, .ag-bootstrap .ag-cell .btn-danger:active {background-color: #e2475e; border-color: #e06364;}
.ag-bootstrap .ag-cell-not-inline-editing img {margin: auto 0;}
.ag-bootstrap .ag-paging-panel {border-top: 2px solid #ddd!important;}
.ag-bootstrap .ag-paging-button {background: #eee; border: 1px solid #ddd;}
.ag-bootstrap .ag-paging-row-summary-panel {color: #888;}
.ag-bootstrap .ag-menu {font-family: "Josefin Sans",sans-serif!important; border: 1px solid #ddd!important;}
.ag-bootstrap .ag-filter-select {width: 95%; height: 25px;}
.ag-bootstrap .ag-overlay-loading-wrapper {background: rgba(0,0,0,0.2)!important;}
.ag-bootstrap .ag-overlay-loading-center {padding: 20px!important; color: #323232!important;}
.ag-bootstrap .ag-paging-panel {border-top: 1px solid #ddd!important; padding: 10px!important;}
.ag-bootstrap .ag-paging-page-summary-panel {float: right;}
.ag-bootstrap button[disabled] {opacity: 0.4;}
.ag-bootstrap .ag-paging-button:hover {background: #e4e4e4;}
.ag-bootstrap .ag-filter-apply-panel {background: #fff;}
.ag-bootstrap .ag-filter-apply-panel button {display: block; background: #e6e6e6; border: 1px solid #bbb; width: 100%;}
.ag-bootstrap .ag-filter-apply-panel button:hover {background: #eee;}
.ag-bootstrap .ag-cell-focus .ag-cell-edit-input {color: #000;}
.ag-bootstrap .ag-row-selected {background-color: #ffc278!important;}
.ag-bootstrap .ag-paging-button {}
.ag-bootstrap .ag-header-icon {fill: #5477a0!important;}

.ag-cell {overflow: visible!important;}

.ag-cell-inner {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.filter-bar .btn-default {    
    background-color: #fff;
    background-image: none;
}

.filter-bar .btn-warning {    
    color: #fff;
    background-color: #f48220;
    border-color: #e47618;
    background-image: none;
}

.filter-bar .btn-warning:hover, 
.filter-bar .btn-warning:focus, 
.filter-bar .btn-warning:active, 
.filter-bar .btn-warning.active, 
.filter-bar .open > .dropdown-toggle.btn-warning {
    background-color: #e4710d;
    border-color: #e47618;
}
.ag-cell-edit-input {
    height: 30px!important;
    background-color: #72abb7;
    margin-top: 4px;
    border: 0;
    border-radius: 10px;
    color: #FFF!important;
}
