<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Identity</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <title ng-bind-html="vm.appTitle">Scriptr.io | Saepio</title>
      
    <!-- CSS -->  
    <!-- ARABIC --><!--link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-cSfiDrYfMj9eYCidq//oGXEkMc0vuTxHXizrMOFAaPsLt1zoCUVnSsURN+nef1lj" crossorigin="anonymous"-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <script src="//use.fontawesome.com/cb4ba0acea.js"></script>  
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/lib/IOTStudio/identity/lib/UIComponents/css/components.min.css">
    <link name="light" rel="stylesheet" href="/lib/IOTStudio/identity/lib/UIComponents/css/light.min.css">
    
    <link rel="stylesheet" href= "/lib/IOTStudio/identity/css/identity.components.min.css"> 
    <link rel="stylesheet" href= "/lib/IOTStudio/identity/css/identity.light.min.css"> 
    <!--link rel="stylesheet" href= "/lib/IOTStudio/identity/css/identity.dark.min.css"--> 
      
    <!-- JQUERY Material  To use jQuery, simply ensure it is loaded before the angular.js file. -->
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/external_jquery_resources.min.js"></script>
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/external_libraries1.min.js"></script>	
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/external_libraries2.min.js"></script>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
    <!-- Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js" crossorigin="anonymous"></script>
    
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBcPYghFh_BXz4dDz-TXTHbU2iV3Wbf57I&libraries=drawing,visualization"></script>
  
    <!-- NG material -->
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/angular_resources_1.min.js"></script>
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/angular_resources_2.min.js"></script>
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/angular_resources_3.min.js"></script>
    
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/templates.js"></script>
        
   <script src="//cdnjs.cloudflare.com/ajax/libs/ag-grid/12.0.0/ag-grid.js?ignore=notused36"></script>
        
        
    <!-- Directives -->
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/directives_1.min.js"></script>
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/directives_2.min.js"></script>
        
    <script src="//cdn.plot.ly/plotly-latest.min.js"></script>
        
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/dashboard_builder_constants.min.js"></script>
    
    <!-- Components -->
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/components.min.js"></script>
    <script src="/lib/IOTStudio/identity/lib/UIComponents/js/editor.min.js"></script>
        
        
    <!-- i18n MFE: I added them to the Grunt of UIComponents -->
    <!-- script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.2/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate-handler-log/2.18.2/angular-translate-handler-log.js"></script-->
    <!-- /i18n -->
        
       
    <script src="/lib/IOTStudio/identity/javascript/identity.templates.js"></script>
    <script src="/lib/IOTStudio/identity/javascript/identity.min.js"></script>
    
    <script src="/lib/IOTStudio/identity/javascript/config.js"></script>

    </head>
    <script>
  
    (function ($) { 
      var underscore = angular.module('underscore', []);
      underscore.factory('_', ['$window', function($window) {		
          return $window._; // assumes underscore has already been loaded on the page		
      }]);
        
      	$.urlParam = function(name){
	         var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
	         if (results==null){
	             return null;
	         }else{
	             return results[1] || 0;
	         }
		}
		
		$.getUrlVars = function() {
			 var vars = [], hash;
			 var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
			 for(var i = 0; i < hashes.length; i++)
			 {
			   hash = hashes[i].split('=');
			   vars.push(hash[0]);
			   vars[hash[0]] = hash[1];
			 }
			 return vars;
		}
		
		var pdDecoded = decodeURIComponent($.urlParam("publicdomain"));
		var publicdomain = pdDecoded.substring(pdDecoded.indexOf("//")+2, pdDecoded.length)

		
		var httpsConfig = ["httpClientProvider",function (httpClientProvider) {
			httpClientProvider.setBaseUrl("https://"+ publicdomain);
			httpClientProvider.setToken($.urlParam("auth_token"));
		}]
		
		
		var myApp = angular.module('myApp', ["underscore", "Identity"]);
		
		myApp.config(httpsConfig);
		
		myApp.run(cachedTemplates);  
		myApp.run(appCachedTemplates);  
  
        myApp.controller('appCtrl', function($scope, $routeParams) {
            var vm = this;
            vm.scope = $scope;

            vm.init = function() {
            	
            	 window.parent.postMessage([ "studio_iframe_loaded-"
                   + $.urlParam("scriptrIdeRef") ], "*");

            }

        });
    }(jQuery));
	</script>
    <body  class="identityTheme" ng-controller="appCtrl as vm" ng-init="vm.init()" ng-cloak lang="en">
        <div>
            <main>
                <section class="page-container">
                    <div class="page-content">
                       <scriptr-identity-main></scriptr-identity-main>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
