/* CSS Document */
/****** Less color variables **********/
.identityTheme {
  /**#FFF**/
  /**#000**/
  /**#333**/
  /**#999**/
  /**#DDD**/
  /**#f5f5f5**/
  /**#FFF**/
  /**#FFF**/
  /**#ff8c00**/
  /**#5477a0**/
  /**#ffac47**/
  /**#4FCD8A**/
  /**Margins & paddings**/
  /**Generic styles**/
  /**Generic elements styling**/
  /*** search box ***/
  /*** Listing search ***/
  /*** Override boostrap button styles ***/
  /**Prompt messages**/
  /*** angular input ***/
  /**Grid**/
  /* device manager*/
  /* modal view and edit*/
  /**md dialog**/
  /**Basic styles**/
}
.identityTheme .mb15 {
  margin-bottom: 15px;
}
.identityTheme .mt5 {
  margin-top: 5px;
}
.identityTheme .mgr5 {
  margin-right: 5px;
}
.identityTheme .mgl5 {
  margin-left: 5px;
}
.identityTheme .mt10 {
  margin-top: 10px;
}
.identityTheme .mt15 {
  margin-top: 15px;
}
.identityTheme .pt15 {
  padding-top: 15px;
}
.identityTheme .pb15 {
  padding-bottom: 15px;
}
.identityTheme .pointer {
  cursor: pointer;
}
.identityTheme .break-word {
  word-wrap: break-word;
}
.identityTheme .fntmontessart {
  font-family: "Montserrat", sans-serif;
}
.identityTheme .box-title {
  color: #999;
  letter-spacing: -1px;
  display: inline-block;
  width: 100%;
}
.identityTheme .device-details {
  font-family: "Josefin Sans", sans-serif;
}
.identityTheme .management-list {
  font-family: "Josefin Sans", sans-serif;
}
.identityTheme .user-details {
  font-family: "Josefin Sans", sans-serif;
}
.identityTheme main {
  overflow: hidden;
}
.identityTheme .page-container {
  overflow: auto;
}
.identityTheme .page-content {
  background-color: #2e2e2e;
  color: #f2f2f2;
}
.identityTheme .search-text {
  position: relative;
  z-index: 1;
  font-size: 13px;
}
.identityTheme .search-wrap {
  position: relative;
}
.identityTheme .search-wrap .fa-times {
  position: absolute;
  right: 8px;
  z-index: 1000;
  font-size: 0.75em;
  top: 13px;
  cursor: pointer;
  color: #999;
}
.identityTheme #searchTextResults {
  background: #191919;
  height: calc(100vh - 115px);
  min-height: 30px;
  overflow-y: auto;
  margin-top: -4px;
  padding: 0;
  cursor: default;
}
.identityTheme .listing-search {
  color: #4b4b4b;
  padding: 0;
  margin: 0;
  list-style: none;
}
.identityTheme .listing-search a {
  display: block;
  padding: 4px 12px;
  color: #4b4b4b;
  cursor: pointer;
}
.identityTheme .listing-search a:hover {
  background: #16191c;
}
.identityTheme .user-list {
  padding: 8px 10px;
  border-top: 1px dotted #999;
}
.identityTheme .user-list a {
  display: inline-block;
  padding: 1px 6px;
}
.identityTheme .btn-default {
  background: #f48220;
  border: none;
  color: #fff;
  text-shadow: none;
  border-radius: 6px;
}
.identityTheme .btn-default:hover,
.identityTheme .btn-default:active,
.identityTheme .btn-default:focus,
.identityTheme .btn-default:active.focus,
.identityTheme .btn-default:active:focus,
.identityTheme .btn-default:active:hover {
  background: #d6690b;
  color: #fff;
  border: none;
  outline: 0;
}
.identityTheme .btn-primary {
  background: #f48220;
  border: none;
  color: #FFF;
  text-shadow: none;
}
.identityTheme .btn-primary:hover {
  background: #d6690b;
}
.identityTheme .md-button.md-default-theme:not([disabled]).md-focused,
.identityTheme .md-button:not([disabled]).md-focused,
.identityTheme .md-button.md-default-theme:not([disabled]):hover,
.identityTheme .md-button:not([disabled]):hover {
  background-color: #d6690b !important;
}
.identityTheme .promptMessage-danger {
  color: #ff0000;
}
.identityTheme .promptMessage-success {
  color: #4FCD8A;
}
.identityTheme tags-input .tags {
  border: 1px solid #16191c;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  overflow-y: auto;
}
.identityTheme tags-input .tags .tag-item {
  height: auto;
  word-break: break-all;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  background: #f69d51;
  border: 1px solid #d6690b;
  color: #FFF;
}
.identityTheme tags-input .tags .tag-item .remove-button:active {
  color: #d6690b;
}
.identityTheme tags-input .autocomplete .suggestion-item {
  font-family: "Josefin Sans", sans-serif;
  background: #2e2e2e;
  font-size: 13px;
}
.identityTheme .form-group tags-input {
  height: 100px;
}
.identityTheme .ag-bootstrap .ag-row-even,
.identityTheme .ag-bootstrap .ag-row-odd {
  background-color: #191919;
  border-bottom: thin solid #16191c;
  color: #f2f2f2;
}
.identityTheme .ag-bootstrap .ag-row {
  border-bottom: 1px solid #4b4b4b !important;
}
@media (min-width: 320px) and (max-width: 767px) {
  .identityTheme header {
    position: relative !important;
  }
  .identityTheme main > section {
    display: inline-block;
    width: 100%;
  }
  .identityTheme .side-bar {
    position: fixed !important;
    width: 100%;
    z-index: 100;
    height: auto !important;
    top: 45px;
  }
  .identityTheme .page-content {
    margin-top: 70px;
  }
  .identityTheme .side-bar nav-pills > li a {
    padding: 10px 10px;
  }
  .identityTheme .side-bar .nav li strong {
    margin-left: 8px;
  }
}
@media (min-width: 768px) {
  .identityTheme main {
    display: flex;
    min-height: 100vh;
  }
  .identityTheme main > section {
    flex: 1;
  }
  .identityTheme .menu-wrap {
    margin-top: 45px !important;
    display: flex;
    height: auto !important;
  }
  .identityTheme .page-content {
    margin-top: 45px;
    overflow-y: auto;
    height: calc(100vh - 45px);
    position: relative;
  }
  .identityTheme .side-bar .nav-pills {
    position: fixed;
    overflow-y: auto;
  }
}
@media screen and (max-width: 768px) {
  .identityTheme .icon {
    right: 0px;
  }
}
.identityTheme .modal-lg {
  width: 800px;
}
.identityTheme .viewDeviceContainer .title-header {
  padding: 20px;
  border-bottom: 1px solid #191919;
}
.identityTheme .viewDeviceContainer .box-header {
  height: auto !important;
  padding: 0 !important;
}
.identityTheme .viewDeviceContainer .title-header h4 {
  margin: 0;
}
.identityTheme .contentContainer {
  padding: 20px;
  width: 100%;
}
.identityTheme .contentContainer label {
  margin-bottom: 0 !important;
}
.identityTheme .contentContainer .table {
  margin-top: 5px;
  width: 50%;
  border: 1px solid #a4c2c7;
}
.identityTheme .contentContainer .table > thead > tr > th {
  border-right: none;
  color: #FFF;
  border-bottom: none;
  background: #a4c2c7;
}
.identityTheme .contentContainer .blockContent {
  float: left;
  border: 1px solid #f2f2f2;
  padding: 6px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.identityTheme .contentContainer .blockContent.noBorder {
  border: none;
}
.identityTheme .contentContainer p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.identityTheme .closeHeaderBtn.md-button.md-ink-ripple:hover {
  background-color: #2e2e2e !important;
}
.identityTheme .md-button.md-default-theme:not([disabled]).md-focused,
.identityTheme .md-button:not([disabled]).md-focused,
.identityTheme .md-button.md-default-theme:not([disabled]):hover,
.identityTheme .md-button:not([disabled]):hover {
  background-color: rgb(84 119 160);
}
.identityTheme .filter-bar .btn-default {
  background-color: #a4c2c7;
  margin-top: 0;
}
.identityTheme .btn.btn-md {
  min-width: auto;
  min-height: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
}
.identityTheme .btn-group {
  margin-right: 10px;
}
.identityTheme .btn-group .btnContent {
  width: 260px;
  background-color: #FFF;
  color: #a4c2c7;
  border-color: #a4c2c7;
  border: 1px solid #a4c2c7;
}
.identityTheme .btn-group .btnContent:hover {
  background-color: #a4c2c7;
  color: #FFF;
  border-color: #a4c2c7;
}
.identityTheme .btn-group .btnContent.btnSelected {
  background-color: #a4c2c7;
  color: #f2f2f2;
}
.identityTheme .btn-group .btnContent:active,
.identityTheme .btn-group .btnContent.active {
  box-shadow: none;
}
.identityTheme .ag-bootstrap .ag-paging-button {
  border: 1px solid #f48220;
  border-radius: 5px;
  color: #f48220;
  background: transparent;
  padding: 2px 6px;
}
.identityTheme .ag-bootstrap .ag-paging-button:hover {
  background: #d6690b;
  color: #FFF;
}
.identityTheme .ag-bootstrap .ag-paging-button[disabled] {
  cursor: default;
  color: #999;
  border-color: #999;
}
.identityTheme .ag-bootstrap .ag-paging-button[disabled]:hover {
  background-color: transparent;
}
.identityTheme .ag-bootstrap .ag-paging-button:focus {
  outline: none;
}
.identityTheme .ag-bootstrap .ag-header-icon {
  fill: #a4c2c7 !important;
}
.identityTheme .adminHome .btn-primary i {
  padding-right: 5px;
}
.identityTheme .adminHome .default-image {
  display: flex;
}
.identityTheme .adminHome img {
  cursor: pointer;
}
.identityTheme .btnToggle .ng-valid-parse {
  background-color: #a4c2c7;
}
.identityTheme .ag-bootstrap .ag-row-selected {
  background-color: #a4c2c7 !important;
}
.identityTheme .closeHeaderBtn {
  position: absolute;
  right: 15px;
  top: 13px;
  margin: 0 !important;
  padding: 0 !important;
  color: #fff;
  background: none;
}
.identityTheme .closeHeaderBtn .material-icons {
  float: right;
  opacity: 0.5;
  color: #a4c2c7;
}
.identityTheme .closeHeaderBtn:hover .material-icons {
  opacity: 1;
}
.identityTheme .closeHeaderBtn .tooltip.left {
  display: none;
}
.identityTheme .dialogContainer {
  overflow-x: hidden;
  overflow-y: auto;
}
.identityTheme .modal-header {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.identityTheme .textWrap {
  overflow: hidden !important;
  min-height: 30px;
  height: auto;
}
.identityTheme .ui-select-search {
  padding: 0 10px;
  box-sizing: border-box;
}
.identityTheme .ui-select-bootstrap.open {
  z-index: 10050;
}
.identityTheme .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  width: auto !important;
}
.identityTheme .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  line-height: 1;
}
.identityTheme .ui-select-choices-group-label {
  font-size: 14px;
  color: #d6690b;
  font-weight: bold;
}
.identityTheme .ui-select-choices-row:hover {
  background: #f69d51;
}
.identityTheme .ui-select-choices-row div {
  color: #f2f2f2;
  text-indent: 10px;
  font-size: 13px;
}
.identityTheme .ui-select-choices-row span {
  padding: 3px;
}
.identityTheme .ui-select-choices-row span:focus,
.identityTheme .ui-select-choices-row span:hover {
  background: #191919;
}
.identityTheme .ui-select-choices-row.active span {
  background-color: #f48220;
}
.identityTheme .ui-select-bootstrap .ui-select-match-text span {
  line-height: 1.1em;
}
.identityTheme .ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  background: #f48220;
  color: #FFF;
  border-color: #FFF;
}
.identityTheme .ui-select-multiple.ui-select-bootstrap .ui-select-match-item:hover,
.identityTheme .ui-select-multiple.ui-select-bootstrap .ui-select-match-item:focus,
.identityTheme .ui-select-multiple.ui-select-bootstrap .ui-select-match-item:active {
  border-color: #FFF !important;
}
.identityTheme .ui-select-multiple.ui-select-bootstrap .ui-select-match-item .close {
  opacity: 1;
  color: #FFF;
}
.identityTheme .has-success .checkbox,
.identityTheme .has-success .checkbox-inline,
.identityTheme .has-success .control-label,
.identityTheme .has-success .help-block,
.identityTheme .has-success .radio,
.identityTheme .has-success .radio-inline,
.identityTheme .has-success.checkbox label,
.identityTheme .has-success.checkbox-inline label,
.identityTheme .has-success.radio label,
.identityTheme .has-success.radio-inline label {
  color: #f2f2f2;
}
.identityTheme .file-upload .btn.btn-block {
  margin-top: 10px;
}
.identityTheme md-dialog md-dialog-actions {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #191919;
}
.identityTheme md-dialog md-dialog-actions .md-button {
  margin: 0 10px 0 0;
}
.identityTheme md-dialog md-dialog-content {
  min-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
.identityTheme md-dialog .title-header {
  padding: 20px;
  border-bottom: 1px solid #191919;
  position: relative;
}
.identityTheme md-dialog h4 {
  margin: 0;
}
.identityTheme .md-button.md-default-theme:not([disabled]).md-focused,
.identityTheme .md-button:not([disabled]).md-focused,
.identityTheme .md-button.md-default-theme:not([disabled]):hover,
.identityTheme .md-button:not([disabled]):hover {
  background-color: #f69d51;
}
.identityTheme .tabContent {
  background-color: #191919;
  padding-top: 10px;
}
.identityTheme .level-bg-0 {
  background: #4b4b4b;
}
.identityTheme .logo {
  background: #4b4b4b;
}
.identityTheme .logo img {
  width: 70%;
}
.identityTheme .side-bar .nav > li.active > a {
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #f48220;
}
.identityTheme header {
  background: #2e2e2e;
  color: #4b4b4b;
  border-bottom: thin solid #999;
}
.identityTheme .username {
  background-color: #2e2e2e;
  border-left: 1px solid #999;
}
.identityTheme #username-button {
  color: #4b4b4b;
  line-height: 2.3;
}
.identityTheme h1 {
  font-size: 25px;
  margin: 35px 0;
}
.identityTheme .btn-group .btnContent {
  width: auto;
  margin: 0 15px;
  padding: 0 0 5px;
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  font-size: 1em;
}
.identityTheme .btn-group .btnContent.btnSelected {
  border-bottom: 4px solid #f48220;
  color: #f2f2f2;
}
.identityTheme .btn-group .btnContent.btnSelected:hover {
  border-color: #f48220;
  color: #f2f2f2;
}
.identityTheme .btn-group .btnContent:hover {
  border-bottom: 4px solid #f48220;
  color: #999;
}
.identityTheme .filter-bar .btn-default {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #999;
  color: #999;
  margin: 0 2px;
}
.identityTheme .filter-bar .btn-default:hover {
  border-color: #f48220;
  color: #f48220;
}
.identityTheme .icon {
  margin-left: 5px;
  margin-right: 10px;
  color: #f48220;
  float: right;
  display: inline-block;
  position: absolute;
  right: 30px;
}
.identityTheme .ag-cell-value .btn-default:hover,
.identityTheme .ag-cell-value .btn-default:active,
.identityTheme .ag-cell-value .btn-default:focus,
.identityTheme .ag-cell-value .btn-default:active.focus,
.identityTheme .ag-cell-value .btn-default:active:focus,
.identityTheme .ag-cell-value .btn-default:active:hover {
  background: none;
  color: #f48220;
}
.identityTheme .alert {
  margin: 15px;
}
.identityTheme .alert-danger {
  background-image: none;
}
