/* CSS Document */
.mb15 {margin-bottom: 15px;}
.mt5 {margin-top: 5px;}
.mgr5 {margin-right: 5px;}
.mgl5 {margin-left: 5px;}
.management-list {font-family: 'Josefin Sans', sans-serif;}
.fntmontessart {font-family: 'Montserrat', sans-serif;}
.box-title {color: #9c9c9c; letter-spacing: -1px; display: inline-block; width: 100%;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.pt15 {padding-top: 15px;}
.pb15 {padding-bottom: 15px;}
/*** search box ***/
.search-text {position: relative; z-index: 1; font-size: 13px;}
.search-wrap {position: relative;}
.search-wrap .fa-times {position: absolute; right: 8px; z-index: 1000; font-size: 0.75em; top: 13px; cursor: pointer; color: #999;}

/*** Listing search ***/
#searchTextResults {background: #f1f4f9; height: calc(100vh - 115px); min-height: 30px; overflow-y: auto; margin-top: -4px; padding: 0; cursor: default;}
.listing-search {color: #555; padding: 0; margin: 0; list-style: none;}
.listing-search a {display: block; padding: 4px 12px; color: #666; cursor: pointer;}
.listing-search a:hover {background: #ddd;}
.user-list {padding: 8px 10px; border-top: 1px dotted #999;}
.user-list a {display: inline-block; padding: 1px 6px;}


/*** Override boostrap button styles ***/
.btn-default {
  background: #ff8c00;
  border: none;
  color: #fff;
  text-shadow: none;
  border-radius: 6px;
}

.promptMessage-danger{
    color:#FF0000;
}
.promptMessage-success{
    color:#5AB03A;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover  {
  background: #e4710d;
  color: #fff;
  border: none;
  outline: 0;
}
.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: #e4710d!important;
}

.device-details {font-family: 'Josefin Sans', sans-serif;}
.fntmontessart {font-family: 'Montserrat', sans-serif;}
.box-title {color: #9c9c9c; letter-spacing: -1px; display: inline-block; width: 100%;}

.mt10 {margin-top: 10px;}
.pointer {cursor: pointer;}
.break-word {word-wrap: break-word;}

/*** angular input ***/
tags-input .tags .input {font-family: 'Josefin Sans', sans-serif; background: #fff; font-size: 13px;}
tags-input .tags {border:1px solid #ccc; border-radius:4px; box-shadow:inset 0 1px 1px rgba(0,0,0,.075); overflow-y: auto;}
tags-input .tags .tag-item {height: auto; word-break: break-all; font-family: 'Josefin Sans', sans-serif; font-size: 13px;background: #22A3DD; border: 1px solid #137ABF; color: #fff;}
tags-input .tags .tag-item .remove-button:active {color: #137ABF;}
.form-group tags-input {height: 100px}


tags-input .autocomplete .suggestion-item {font-family: 'Josefin Sans', sans-serif; background: #fff; font-size: 13px;}

/*** Override boostrap button styles ***/
.btn-primary {
  background: #ff8c00;
  border: none;
  color: #fff;
  text-shadow: none;
}

.btn-primary:hover {
  background: #e4710d;
}

.user-details {font-family: 'Josefin Sans', sans-serif;}
main {
    overflow: hidden;
}
.page-container {
    overflow: auto;
}

@media (min-width:768px) {
  main {display: flex; min-height: 100vh;}
	.menu-wrap {margin-top: 45px!important; display: flex; height: auto!important;}
    main>section{flex: 1;}
  .page-content {margin-top: 45px;}
  .side-bar .nav-pills {position: fixed; overflow-y: auto;}
  .page-content {overflow-y: auto; height: calc(100vh - 45px); position: relative;}

}

@media (min-width:320px) and (max-width: 767px) { 
  header {position: relative!important;}
 main>section{display: inline-block; width: 100%;}
.side-bar {position: fixed!important; width: 100%; z-index: 100; height: auto!important; top: 45px;}
.page-content {margin-top: 70px;}
.side-bar .nav-pills>li a {padding: 10px 10px;}
  .side-bar .nav li strong {margin-left: 8px;}
}

.viewDeviceContainer .title-header {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.viewDeviceContainer .box-header {
    height: auto!important;
    padding: 0!important;
}

.viewDeviceContainer .title-header h4 {
    margin: 0;
}
.contentContainer {
    padding: 20px;
    width: 100%;
}
.contentContainer label {
    margin-bottom: 0!important;
}
.contentContainer .table {
    margin-top: 5px;
    width: 50%;
   	border: 1px solid #5477a0;
}
.contentContainer .table>thead>tr>th {
    border-right: none;
    color: #FFF;
    border-bottom: none;
   	background: #5477a0;
}
.contentContainer .blockContent {
    float: left;
    border: 1px solid #000;
    padding: 6px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contentContainer .blockContent.noBorder {
    border: none;
}
.contentContainer p {overflow: hidden;text-overflow: ellipsis;}
.closeHeaderBtn {
    right: 15px;
    top: 21px;
    background: none;
}
.closeHeaderBtn.md-button.md-ink-ripple:hover {
    background-color: #FFF!important;
}
.md-button.md-default-theme:not([disabled]).md-focused, .md-button:not([disabled]).md-focused, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgb(84 119 160);
}

.btn-group .btnContent {
    width: 260px;
    background-color: #FFF;
    border-color: #5477a0;
    color: #5477A0;
    border-color: #5477a0;
    border: 1px solid #5477A0;
}
.btn-group .btnContent:hover {
    background-color: #5477a0;
    color: #FFF;
    border-color: #5477A0;
}
.btn-group .btnContent.btnSelected {
    background-color: #5477a0;
    color: #FFF;
}
.btn-group {
    margin-right: 10px;
}
.filter-bar .btn-default {
    background-color: #5477a0;
    margin-top: 0;
}
.ag-bootstrap .ag-paging-button {
    border: 1px solid #ff8c00;
    border-radius: 5px;
    color: #ff8c00;
    background: transparent;
    padding: 2px 6px;
}
.ag-bootstrap .ag-paging-button:hover {
    background: #e4710d;
    color: #FFF;
}

.ag-bootstrap .ag-paging-button[disabled] {
    cursor: default;
    color: #AAA;
    border-color: #AAA;
}

.ag-bootstrap .ag-paging-button[disabled]:hover {
    background-color: transparent;
}

.ag-bootstrap .ag-paging-button:focus {
    outline: none;
}

.ag-bootstrap .ag-header-icon {
    fill: #5477a0!important;
}

.adminHome .btn-primary i{
    padding-right: 5px;
}

.adminHome .default-image {
    display: flex;
}
.adminHome img {
    cursor: pointer;
}
/* device manager*/
.btnToggle .ng-valid-parse {
  background-color: #5477a0; 
}

.ag-bootstrap .ag-row-selected {background-color: #5477a06b!important;}
/* modal view and edit*/
.closeHeaderBtn {
    position: absolute;
    right: 0;
    top: 7px;
    border-radius: 0;
    min-width: 30px;
    color: #FFF;
}

.closeHeaderBtn:hover .material-icons {
    opacity: 1;
}
.closeHeaderBtn .tooltip.left {
    display: none;
}
.closeHeaderBtn .material-icons {
     float: right;
    opacity: 0.5;
    color: #5477a0;
}
.dialogContainer {
    overflow: auto;
}
.modal-header {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.textWrap {
    overflow: hidden!important;
}
.form-control {
    min-height: 30px;
    height: auto;
}
.btn.btn-md {
    min-width: auto;
    min-height: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
}



.identityTheme > .ui-select-search {
  padding: 0 10px;
  box-sizing: border-box;
}

 .identityTheme > .ui-select-bootstrap.open {
  z-index: 10050;
}
 .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  width: auto!important;
}
 .ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  line-height: 1;
}
 .ui-select-choices-group-label {
  font-size: 14px;
  color: #005588;
  font-weight: bold;
}
 .ui-select-choices-row div {
  color: #000;
  text-indent: 10px;
  font-size: 13px;
}
.ui-select-choices-row:hover {
  background: #f69d51;
}
.ui-select-bootstrap .ui-select-match-text span {
  line-height: 1.1em;
}
.ui-select-bootstrap .ui-select-choices-row span {
  padding: 3px;
}
.ui-select-bootstrap .ui-select-choices-row span:focus,
.ui-select-bootstrap .ui-select-choices-row span:hover {
  background: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active span {
  background-color: #f48220;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  background: #f48220;
  color: #FFF;
  border-color: #FFF;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item:hover,
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item:focus,
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item:active {
  border-color: #FFF !important;
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  opacity: 1;
  color: #FFF;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label 
{
    color: #000;
}
.file-upload .btn.btn-block {
    margin-top: 10px;
}

/**md dialog**/
.identityTheme md-dialog md-dialog-content:not([layout=row]) > *:first-child:not(.md-subheader) {margin-top: 10px;}
.identityTheme md-dialog md-dialog-actions{padding: 15px;text-align: right;border-top: 1px solid #e5e5e5;}
.identityTheme md-dialog md-dialog-actions .md-button {margin: 0 10px 0 0;}
.identityTheme .md-button.md-default-theme:not([disabled]).md-focused, .identityTheme .md-button:not([disabled]).md-focused, .identityTheme .md-button.md-default-theme:not([disabled]):hover, .identityTheme .md-button:not([disabled]):hover {background-color: #a6cbd0;}
.identityTheme md-dialog md-dialog-content {min-height: 100px;}
.identityTheme md-dialog .title-header {padding: 20px;border-bottom: 1px solid #e5e5e5;}
.identityTheme md-dialog h4 {margin: 0;}

/**Basic styles**/
.identityTheme {background-color: #FFF;}
.identityTheme .tabContent {background-color: #f2f2f2;padding-top: 10px;}
.identityTheme .level-bg-0 {background: #333333;}
.identityTheme .logo {background: #333333;}
.identityTheme .logo img {width: 70%;}
.identityTheme .side-bar .nav>li.active>a {background-color: rgba(255,255,255,0.05);border-left: 4px solid #ff8c00;}
.identityTheme header {background: #FFF; color: #333;border-bottom: thin solid #ccc;}
.identityTheme .username {background-color: #FFF;border-left: 1px solid #ccc;}
.identityTheme #username-button {color: #333;line-height: 2.3;}
.identityTheme h1 {font-size: 25px;margin: 35px 0;}
.identityTheme .btn-group .btnContent {width: auto; margin: 0 15px;padding: 0 0 5px;background-color: transparent!important;border: none;border-radius: 0;color: #333;font-weight: bold;text-transform: uppercase;color: #888;font-size:1em;}
.identityTheme .btn-group .btnContent.btnSelected {border-bottom: 4px solid #ff8c00;color: #333;}
.identityTheme .btn-group .btnContent:hover {border-bottom: 4px solid #ff8c00;}
.identityTheme .btn-group .btnContent.btnSelected:hover {border-color: #ff8c00;}

.identityTheme .filter-bar .btn-default {background-color: transparent;border-radius: 50%;border: 1px solid #888;color: #888;margin: 0 2px;}
.identityTheme .filter-bar .btn-default:hover {border-color: #ff8c00;color: #ff8c00;}g

.identityTheme .icon {margin-left: 5px;margin-right: 10px;color: #ff8c00;float: right;display: block;}
.identityTheme .ag-cell-value .btn-default:hover, .identityTheme .ag-cell-value .btn-default:active, .identityTheme .ag-cell-value .btn-default:focus, .identityTheme .ag-cell-value .btn-default:active.focus, .identityTheme .ag-cell-value .btn-default:active:focus, .identityTheme .ag-cell-value .btn-default:active:hover {
    background: none;
    color: #e4710d;
}
.identityTheme .icon {position: absolute; right: 30px;}
/**Alert**/
.identityTheme .alert-danger {background-image: none;}
.identityTheme .alert {margin: 15px;}

@media screen and (max-width: 768px) {
    .identityTheme .icon {right: 0px;}
}
