<md-dialog class="dialog">
    <md-dialog-content>
        <div class="title-header">
        	<h4 class="mrgb20" ng-init="vm.init()">{{vm.header}}</h4>
        </div>
        <div class="contentContainer container">
            <p>{{vm.promptMessage}}</p>
        </div>
   	</md-dialog-content>
    <md-dialog-actions class="col-md-12  pb15 pt15" ng-hide="vm.isLoading">
        <md-button ng-click="vm.closeDialog()" class="btn btn-default btn-md">No</md-button>
        <md-button ng-click="vm.deleteIdentity()" class="btn btn-default btn-md">Yes</md-button>
    </md-dialog-actions>
</md-dialog>