<md-dialog class="dialog">
    <md-dialog-content>
        <h2 ng-init="vm.init()" class="col-xs-12">{{vm.header}}</h2>
        <div>
          <div class="col-xs-12 col-md-6">
            <span>{{vm.promptMessage}}</span>
          </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="col-md-12" ng-hide="vm.isLoading">
        <md-button ng-click="vm.closeDialog()" class="btn btn-primary">No</md-button>
        <md-button ng-click="vm.deleteIdentity()" class="btn btn-primary">Yes</md-button>
    </md-dialog-actions>
</md-dialog>