<div>
    <div class="modal-header">
        <div class="title-header">
        	<h4 class="mrgb20">Import {{$ctrl.gridTypeToUpperCase}}s</h4>
        </div>
    </div>
    <div ng-if="$ctrl.hasAlert" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'warning')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>
    <form name="uploadFileForm" class="adminHome" ng-submit="$ctrl.save(uploadFileForm)">
        <div class="modal-body">
            <div sf-options="$ctrl.frmGlobalOptions" sf-schema="$ctrl.schema" sf-form="$ctrl.form" sf-model="$ctrl.model" ></div>
            <div class="modal-footer">
                <button ng-hide="$ctrl.showLoading" class="btn btn-default"  type="submit">Import</button>
                <button type="button" ng-hide="$ctrl.showLoading" class="btn btn-default" ng-click="$ctrl.downloadTemplate()">Download Template</button>
                <button ng-hide="$ctrl.showLoading" class="btn btn-default" type="reset" ng-click="$ctrl.onCancel()">Close</button>
            </div>
        </div>
    </form>
</div>