<div>
    <div ng-if="$ctrl.hasAlert" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'warning')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>
    <div class="modal-header">
        <div class="title-header">
        	<h4 class="mrgb20">Import Devices</h4>
        </div>
    </div>
    <form name="uploadFileForm" class="adminHome" ng-submit="$ctrl.save(uploadFileForm)">
        <div class="modal-body">
        <div class="mrgt15">
            <div class="col-xs-12 col-sm-9"><div sf-options="$ctrl.frmGlobalOptions" sf-schema="$ctrl.schema" sf-form="$ctrl.form" sf-model="$ctrl.model" ></div>
            </div> 
            <div class="col-xs-12 col-sm-3">
                <button ng-hide="$ctrl.showLoading" class="btn btn-primary btn-sm btn-block"  type="submit">Import</button>
                <button ng-hide="$ctrl.showLoading" class="btn btn-primary btn-sm btn-block" type="reset" ng-click="$ctrl.onCancel()">Close</button>
            </div>
        </div>
        </div>
    </form>
</div>