<!-- begin group form -->
<div class="col-xs-12 col-md-4 device-details">
  <h5 ng-if="$ctrl.title" class="box-title text-uppercase fntmontessart">{{$ctrl.title}}</h5>
  <div ng-if="$ctrl.message" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'default')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>
    <!--div ng-controller="ExampleController"-->
    <form novalidate class="simple-form" name="myForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" ng-model="$ctrl.group.name" name="name" class="form-control" required ng-readonly="$ctrl.isUpdate"/>
        <span ng-show="myForm.id.$dirty && myForm.id.$invalid">
  			<span class="text-danger" ng-show="myForm.id.$error.required">Id is required.</span>
        </span>
      </div>
      <div class="form-group" ng-if="$ctrl.isUpdate">
        <label>New name</label>
        <input type="text" ng-model="$ctrl.group.newName" name="newName" class="form-control" required/>
        <span ng-show="myForm.name.$dirty && myForm.name.$invalid">
  		 	<span class="text-danger" ng-show="myForm.name.$error.required">New name is required.</span>
       	</span>
      </div>
      <div class="form-group">
        <input type="button" class="btn btn-primary" ng-click="$ctrl.reset()" value="Reset" ng-disabled="!$ctrl.isGroupChanged()"/>
        <input type="button" class="btn btn-default" ng-click="$ctrl.submit()" value="Save"
               ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.id.$dirty && myForm.id.$invalid"/>
      </div>
    </form>
  </div>   
 <!-- end group form -->