<div class="col-xs-12">
<h1>{{vm.title}}</h1>
<br>
<button class="btn btn-default" type="button" ng-click="vm.addGroupOverLay();" >{{vm.button}}</button>
<div class="row">
    <div ng-init="vm.init();">
    <scriptr-identity-grid ng-if="vm.renderGrid"
                           columns-definition="vm.groupsColDef"
                           enable-sorting="false"
                           enable-delete-row="true"
                           boxlabel="{{ 'USERS.LIST' | translate}}"
                           fixed-height="true"
                           grid-height="350px"
                           enable-add-row="false"
                           msg-tag="grid"
                           cell-editable="false"
                           on-row-double-clicked="vm.onRowDoubleClicked"
                           enable-client-side-filter="true"
                           enable-server-side-filter="true"
                           enable-server-side-sorting="false"
                           row-model-selection="multiple"
                           suppress-row-click-selection="true"
                           suppress-cell-selection="true"
                           pagination-page-size="10"
                           transport="https"
                           enable-client-side-sorting="false"
                           enable-delete-row="true"
                           size-columns-to-fit ="false"
                           enable-col-resize="true"
                           pagination="true"
                           row-model-type="pagination"
                           suppress-filter="false"
                           boxheader="true"
                           transport="https"
                           api="{{vm.gridAPI}}"
                           api-params="vm.params"
                           row-height="50"
                           grid-data-identifier-property="groupName"
                           >
    </scriptr-identity-grid>
    </div>
</div>
</div>
