<md-dialog class="dialog">
    <md-dialog-content>
        <div ng-init="vm.init()">
            <div class="dashboard-template dashboardTheme viewDeviceContainer">
                <div class="dashboardContainer modal-lg">
                    <div class="box">
                        <div class="box-header">
                            <div class="title-header">
                                <h4 class="mrgb20"> 
                                    View Group
                                </h4>
                                <div class="closeBtn">
                                    <md-button class="md-icon-button closeHeaderBtn" ng-click="vm.closeDialog()">
                                        <md-icon class="glyphicon glyphicon-remove" aria-hidden="true">
                                        </md-icon>
                                    </md-button>
                                </div>
                            </div>
                                 </md-toolbar>
                            <div class="clearfix"></div>
                            <div ng-class="'data-notification center mt20 mrgb20 promptMessage-' + ( vm.promptMessage.type || 'default')" ng-hide="vm.hidePromptMessage">
                                <i class="fa fa-spinner fa-spin fa-1x" ng-if="vm.isLoading"></i> 
                                <span>{{vm.promptMessage.content}}</span>
                            </div>
                            <div ng-if="vm.groupFetched" class="contentContainer container">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Group Name</label>
                                        <p>{{vm.name}}</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Devices belonging to this group</label>
                                        <div ng-if="vm.devices == 'N/A'" class="col-xs-12 col-md-6">
                                        	<p >{{vm.devices}}</p>
                                        </div>
                                        <div ng-hide="vm.devices == 'N/A'" class="mt5">
                                        	<div ng-repeat="device in vm.devices" class="blockContent">{{device.id}}</div>
                                    	</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="col-md-12  pb15 pt15">
        <div ng-if="vm.showActionButtons">
            <md-button ng-click="vm.editGroup()" class="btn btn-default">Edit</md-button>
            <md-button ng-click="vm.confirmationDeleteGroup()" class="btn btn-default">Delete</md-button>
        </div>
        <div ng-if="!vm.showActionButtons" class="col-xs-12 mb15">
            <span>Are you sure you want to delete this device?</span>
            <md-button ng-click="vm.cancelActionButtons()" class="btn btn-default mgr5">No</md-button>
            <md-button  ng-click="vm.deleteGroup()" class="btn btn-default mgr5" >Yes</md-button>
        </div>
    </md-dialog-actions>
</md-dialog> 