<div class="col-xs-12" ng-init="vm.init();">
    <h1>{{vm.deviceTitle}}</h1>
<div class="col-xs-12" ng-if="vm.showError"><div class="alert" ng-class="'alert-' + ( vm.message.type || 'warning')">{{vm.message.content}}</div></div>
<div>
      <div class="btn-group btnToggle" data-toggle="buttons">
            <label class="btn btnContent {{vm.deviceTabClass}}">
           		 <input type="radio" name="device" id="device" class="device" ng-model="vm.gridId" value="device" ng-change="vm.changeTab(vm.gridId)"> Devices
          	</label>
          	<label class="btn btnContent {{vm.groupTabClass}}">
            	<input id="group" type="radio" class="group" ng-model="vm.gridId" value="group" ng-change="vm.changeTab(vm.gridId)"> Groups
          	</label>
        </div>
    
    <div ng-if="vm.gridId == 'device'"> 
    <div class="row">
     <scriptr-identity-grid ng-if="vm.renderGrid"
                            columns-definition="vm.devicesColDef"
                            grid-events-id="{{vm.gridId}}"
                            enable-sorting="false"
                            enable-delete-row="true"
                            boxlabel="{{ 'USERS.LIST' | translate}}"
                            fixed-height="true"
                            grid-height="350px"
                            enable-add-row="true"
                            msg-tag="grid"
                            cell-editable="false"
                            on-row-double-clicked="vm.onRowDoubleClicked"
                            enable-client-side-filter="true"
                            enable-server-side-filter="true"
                            enable-server-side-sorting="false"
                            row-model-selection="multiple"
                            suppress-row-click-selection="true"
                            suppress-cell-selection="true"
                            pagination-page-size="10"
                            cache-block-size="10"
                            transport="https"
                            enable-client-side-sorting="false"
                            size-columns-to-fit ="false"
                            enable-col-resize="false"
                            pagination="true"
                            row-model-type="pagination"
                            suppress-filter="false"
                            boxheader="true"
                            transport="https"
                            api="{{vm.gridAPI}}"
                            api-params="vm.params"
                            row-height="50"
                            grid-data-identifier-property="id"
                            >
    </scriptr-identity-grid>
    </div>
</div>
    <div ng-if="vm.gridId == 'group'"> 
    <div class="row">
    <scriptr-identity-grid ng-if="vm.renderGrid"
                           columns-definition="vm.groupsColDef"
                           grid-events-id="{{vm.gridId}}"
                           enable-sorting="false"
                           enable-delete-row="true"
                           enable-add-row="true"
                           boxlabel="{{ 'USERS.LIST' | translate}}"
                           fixed-height="true"
                           grid-height="350px"
                           msg-tag="grid"
                           cell-editable="false"
                           on-row-double-clicked="vm.onRowDoubleClicked"
                           enable-client-side-filter="true"
                           enable-server-side-filter="true"
                           enable-server-side-sorting="false"
                           row-model-selection="multiple"
                           suppress-row-click-selection="true"
                           suppress-cell-selection="true"
                           pagination-page-size="10"
                           cache-block-size="10"
                           transport="https"
                           enable-client-side-sorting="false"
                           enable-delete-row="true"
                           size-columns-to-fit ="false"
                           enable-col-resize="false"
                           pagination="true"
                           row-model-type="pagination"
                           suppress-filter="false"
                           boxheader="true"
                           transport="https"
                           api="{{vm.gridAPI}}"
                           api-params="vm.params"
                           row-height="50"
                           grid-data-identifier-property="groups"
                           >
    </scriptr-identity-grid>
        </div>
    </div>
    </div>
</div>

    
