<h1>{{vm.deviceTitle}}</h1>

<div ng-init="vm.init();">
    <div class="box-label tgl-radio-tabs">
                        <input  id="devices" type="radio" class="form-check-input tgl-radio-tab-child" ng-model="vm.selectedTab" value="devices" ng-change="vm.changeTab(null,vm.selectedTab)">
                        <label for="devices">Devices</label>
        <input  id="groups" type="radio" class="form-check-input tgl-radio-tab-child" ng-model="vm.selectedTab" value="groups" ng-change="vm.changeTab(null,vm.selectedTab)">
                        <label for="groups">Groups</label>
        <button class="btn btn-primary" ng-click="vm.addDeviceOverLay();">{{vm.addButton}}</button>
                    </div>
    
    
     <scriptr-identity-grid ng-if="vm.renderGrid"
                            columns-definition="vm.devicesColDef"
                            enable-sorting="false"
                            enable-delete-row="true"
                            boxlabel="{{ 'USERS.LIST' | translate}}"
                            fixed-height="true"
                            grid-height="350px"
                            enable-add-row="false"
                            msg-tag="grid"
                            cell-editable="false"
                            on-row-double-clicked="vm.onRowDoubleClicked"
                            enable-client-side-filter="true"
                            enable-server-side-filter="true"
                            enable-server-side-sorting="false"
                            row-model-selection="multiple"
                            suppress-row-click-selection="true"
                            suppress-cell-selection="true"
                            pagination-page-size="10"
                            transport="https"
                            enable-client-side-sorting="false"
                            size-columns-to-fit ="false"
                            enable-col-resize="true"
                            pagination="true"
                            row-model-type="pagination"
                            suppress-filter="false"
                            boxheader="true"
                            transport="https"
                            api="{{vm.gridAPI}}"
                            api-params="vm.params"
                            row-height="50"
                            grid-data-identifier-property="name"
                            >
    </scriptr-identity-grid>
</div>

