<md-dialog class="dialog">
    <div ng-if="vm.hasAlert" uib-alert ng-class="'alert-' + ( vm.message.type || 'warning')  + ' m10'" close="vm.closeAlert()" dismiss-on-timeout="5000">{{vm.message.content}}</div>
    <md-dialog-content class="dialogContainer">
        <div ng-init="vm.init()">
            <div class="dashboard-template dashboardTheme viewDeviceContainer">
                <div class="dashboardContainer modal-lg">
                    <div class="box">
                        <div class="box-header">
                            <div class="title-header">
                                <h4 class="mrgb20"> 
                                    View Device
                                </h4>
                                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                                    <md-icon class="glyphicon glyphicon-remove" aria-hidden="true">
                                    </md-icon>
                                </md-button>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-class="'data-notification center mt20 mrgb20 promptMessage-' + ( vm.promptMessage.type || 'default')" ng-hide="vm.hidePromptMessage">
                                <i class="fa fa-spinner fa-spin fa-1x" ng-if="vm.isLoading"></i> 
                                <span>{{vm.promptMessage.content}}</span>
                            </div>
                            <div ng-if="vm.deviceFetched" class="contentContainer container">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Device Name</label>
                                        <p>{{vm.name}}</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Device ID</label>
                                        <p>{{vm.id}}</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Description</label>
                                        <p>{{vm.description}}</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Groups this device belongs to</label>
                                        <div class="mt5">
                                        	<div ng-repeat="group in vm.groups" class="blockContent">{{group}}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>Status</label>
                                        <p>{{vm.status}}</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <label>Token</label>
                                        <p>{{vm.token}}</p>
                                    </div>
                                    <div ng-if="vm.showTokenButtons" class="col-xs-12 mb15">
                                        <button ng-if="vm.token != 'N/A'" ng-click="vm.copyToken()" class="btn btn-default mgr5">Copy</button>
                                        <button ng-if="vm.token == 'N/A' && vm.status != 'Suspended'" ng-click="vm.generateToken()" class="btn btn-default mgr5">Generate</button>
                                        <button ng-if="vm.token != 'N/A'" ng-click="vm.confirmTokenAction('regenerate')" class="btn btn-default mgr5">Regenerate</button>
                                        <button ng-if="vm.token != 'N/A'" ng-click="vm.confirmTokenAction('delete')" class="btn btn-default mgr5">Delete</button>
                                    </div>
                                    <div ng-if="!vm.showTokenButtons" class="col-xs-12 mb15">
                                        <span>{{vm.tokenActionMsg}}</span>
                                        <button ng-click="vm.cancelTokenAction()" class="btn btn-default mgr5">No</button>
                                        <button ng-if="vm.actionDelete" ng-click="vm.revokeToken()" class="btn btn-default mgr5">Yes</button>
                                        <button ng-if="!vm.actionDelete" ng-click="vm.regenerateToken()" class="btn btn-default mgr5">Yes</button>
                                    </div>
                                    
                                    <div ng-if="vm.hasAttrs" class="col-xs-12">
                                        <label>Device Attributes</label>
                                        <table border="1" class="table">
                                            <thead>
                                                <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="attr in vm.deviceAttrs">
                                                    <td>{{attr.name}}</td>
                                                    <td>{{attr.type}}</td>
                                                    <td>{{attr.value}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="col-md-12 pb15 pt15">
        <div ng-if="vm.showActionButtons">
        <md-button ng-click="vm.editDevice()" class="btn btn-default">Edit</md-button>
    	<md-button ng-click="vm.confirmationDeleteDevice()" class="btn btn-default">Delete</md-button>
        </div>
    <div ng-if="!vm.showActionButtons" class="col-xs-12 mb15">
            <span>Are you sure you want to delete this device?</span>
            <md-button ng-click="vm.cancelActionButtons()" class="btn btn-default mgr5">No</md-button>
            <md-button  ng-click="vm.deleteDevice()" class="btn btn-default mgr5">Yes</md-button>
        </div>
        </md-dialog-actions>
</md-dialog> 