<div class="col-xs-12" ng-init="$ctrl.$onInit();">
    <h1>{{$ctrl.deviceTitle}}</h1>
<div class="col-xs-12" ng-if="$ctrl.showError"><div class="alert" ng-class="'alert-' + ( $ctrl.message.type || 'warning')">{{$ctrl.message.content}}</div></div>
<div>
      <div class="btn-group btnToggle" data-toggle="buttons">
            <label class="btn btnContent {{$ctrl.deviceTabClass}}">
           		 <input type="radio" name="device" id="device" class="device" ng-model="$ctrl.gridId" value="device" ng-change="$ctrl.changeTab($ctrl.gridId)"> Devices
          	</label>
          	<label class="btn btnContent {{$ctrl.groupTabClass}}">
            	<input id="group" type="radio" class="group" ng-model="$ctrl.gridId" value="group" ng-change="$ctrl.changeTab($ctrl.gridId)"> Groups
          	</label>
        </div>
    
    <div ng-if="$ctrl.gridId == 'device'"> 
    <div class="row">
     <scriptr-identity-grid ng-if="$ctrl.renderGrid"
                            columns-definition="$ctrl.devicesColDef"
                            grid-events-id="{{$ctrl.gridId}}"
                            enable-sorting="false"
                            enable-delete-row="true"
                            boxlabel="{{ 'USERS.LIST' | translate}}"
                            fixed-height="true"
                            grid-height="350px"
                            enable-add-row="true"
                            msg-tag="grid"
                            cell-editable="false"
                            on-row-double-clicked="$ctrl.onRowDoubleClicked"
                            enable-client-side-filter="false"
                            enable-server-side-filter="true"
                            enable-server-side-sorting="true"
                            row-model-selection="multiple"
                            suppress-row-click-selection="true"
                            suppress-cell-selection="true"
                            pagination-page-size="10"
                            cache-block-size="10"
                            transport="https"
                            enable-client-side-sorting="false"
                            size-columns-to-fit ="true"
                            enable-col-resize="false"
                            pagination="true"
                            row-model-type="pagination"
                            suppress-filter="true"
                            boxheader="true"
                            transport="https"
                            api="{{$ctrl.gridAPI}}"
                            api-params="$ctrl.params"
                            row-height="50"
                            grid-data-identifier-property="{{$ctrl.identifierProperty}}"
                            remove-row-config="$ctrl.removeDeviceConfig"
                            save-row-config="$ctrl.saveDeviceConfig"
                            
                            >
    </scriptr-identity-grid>
    </div>
</div>
<div ng-if="$ctrl.gridId == 'group'"> 
    <div class="row">
    <scriptr-identity-grid ng-if="$ctrl.renderGrid"
                           columns-definition="$ctrl.groupsColDef"
                           grid-events-id="{{$ctrl.gridId}}"
                           enable-sorting="false"
                           enable-delete-row="true"
                           enable-add-row="true"
                           boxlabel="{{ 'USERS.LIST' | translate}}"
                           fixed-height="true"
                           grid-height="350px"
                           msg-tag="grid"
                           cell-editable="false"
                           on-row-double-clicked="$ctrl.onRowDoubleClicked"
                           enable-client-side-filter="false"
                           enable-server-side-filter="true"
                           enable-server-side-sorting="false"
                           row-model-selection="multiple"
                           suppress-row-click-selection="true"
                           suppress-cell-selection="true"
                           pagination-page-size="10"
                           cache-block-size="10"
                           transport="https"
                           enable-client-side-sorting="false"
                           enable-delete-row="true"
                           size-columns-to-fit ="true"
                           enable-col-resize="false"
                           pagination="true"
                           row-model-type="pagination"
                           suppress-filter="true"
                           boxheader="true"
                           transport="https"
                           api="{{$ctrl.gridAPI}}"
                           api-params="$ctrl.params"
                           row-height="50"
                           grid-data-identifier-property="{{$ctrl.identifierProperty}}"
                           remove-row-config="$ctrl.removeGroupConfig"
                           save-row-config="$ctrl.saveGroupConfig"
                           >
    </scriptr-identity-grid>
        </div>
    </div>
    </div>
</div>

    
