<div class="col-xs-12 col-md-4 management-list" ng-init="$ctrl.loadItems()">
  <h5 ng-if="$ctrl.title" class="box-title text-uppercase fntmontessart">{{$ctrl.title}}</h5>
	<div ng-if="$ctrl.message" uib-alert ng-class="'alert-' + ( $ctrl.message.type || 'default')  + ' m10'" close="$ctrl.closeAlert()" dismiss-on-timeout="5000">{{$ctrl.message.content}}</div>
	<div class="search-wrap">
		<input ng-model="$ctrl.searchItem" placeholder="Select item"
			class="form-control search-text"> <span ng-click="$ctrl.resetSearchItem()"><i
			class="fa fa-times"></i></span>
	</div>
	<div id="searchTextResults" class="form-control user-search">
		<ul class="listing-search">
          	<item ng-repeat="item in $ctrl.items | filter: $ctrl.searchItem | orderBy:'item' track by $index  " 
                  item="item" 
                  on-update="$ctrl.updateItem(item)" 
                  on-delete="$ctrl.deleteItem(item)" 
                  on-list-tokens='$ctrl.listTokens(item)' 
                  on-revoke-token='$ctrl.revokeToken(item)' 
                  on-renew-token='$ctrl.renewToken(item)' 
                  has-update="$ctrl.hasUpdate" 
                  has-delete="$ctrl.hasDelete"
                  has-list-tokens="$ctrl.hasListTokens" 
                  has-revoke-token="$ctrl.hasRevokeToken"
                  has-renew-token="$ctrl.hasRenewToken">
            </item>
		</ul>
	</div>
  <div class="mt10" ng-if="$ctrl.hasAdd">
    <a type="button" class="btn btn-default" ng-click="$ctrl.addItem()"  class="btn btn-success">
      <i class="fa fa-floppy-o"></i> Add
    </a>
  </div>
</div>
